@using System.Collections
@inherits UmbracoViewPage
@{
    var startPage = Model.AncestorOrSelf<StartPage>();
    var copyRightText = startPage.Value("copyRightText");
}
<footer class="footer mt-4" style="border:2px solid red">
    <div class="container">
        <p>@copyRightText</p>
    </div>
</footer>