@using System.Collections
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@inherits UmbracoViewPage
@{
    var startPage = Model.AncestorOrSelf<StartPage>();
    var settingsPage = startPage?.Value<IPublishedContent>("settingsPage");
    var serviceList = settingsPage?.Value<List<IPublishedContent>>("serviceList");
}

<div class="grid grid-cols-4" style="border:2px solid red;">
    @if (serviceList != null && serviceList.Count() > 0)
    {
            @foreach (var service in serviceList)
            {
                var serviceHeadline = service.Value("Headline");
                var serviceImage = service.Value<IPublishedContent>("Image");
                var description = service.Value("Description");
            <div class="mr-2 grid grid-cols-[1fr_2fr] items-start gap-4">
                
                        <img src="@serviceImage?.Url()" style="max-width:300px;">
                  
                <div class="flex flex-col space-y-1">
                       <h4>@serviceHeadline</h4>
                    <p style="border:2px solid red;">
                        @description
                    </p>
                   </div>

                </div>
            }
    }
</div>
