<!DOCTYPE html>

@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}
<html lang="sv-SE">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <title>Vusals sida - @Model.Name</title>
        <link rel="stylesheet" href="/css/styles.css">

    </head>
<body>
    @await Html.PartialAsync("header")
    @RenderBody()
    @await Html.PartialAsync("footer")
</body>
</html>