@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Services>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    Layout = "master.cshtml";
    var headline = Model.Headline;
    var description = Model.Description;
    var startPage = Model.AncestorOrSelf<StartPage>();
}

<div class="section container">
    @if (!string.IsNullOrEmpty(headline) && !string.IsNullOrEmpty(description))
    {
        <div class="mr-auto mb-5 w-1/2">
            <h1 class="mb-4 text-3xl font-bold">@headline</h1>
            <p class="text-gray-700">@description</p>
       </div>

        @await Html.PartialAsync("~/Views/Shared/serviceList.cshtml");

    }

</div>