@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.StartPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "master.cshtml";
	var heroTitle = Model.Value("heroTitle");
	var heroText = Model.Value("heroText");
	var heroImage = Model.Value("heroImage");
}

<div class="container hero">
	<div>
		<h1>@heroTitle</h1>
		<p>@heroText</p>
		<a class="btn">Våra tjänster</a>
	</div>
	<div><img src=" @heroImage"></div>
</div>

