@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.SubPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "master.cshtml";
    var headline = Model.Headline;
    var description = Model.Description;
}

<div class="section container">
    @if (!string.IsNullOrEmpty(headline))
    {
        <h1>@headline</h1>
    }
    @Html.Raw(description)
</div>